*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  color: #777;
}

@-webkit-keyframes fade-in-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }
  75% {
    -webkit-transform: translateX(1.6rem);
            transform: translateX(1.6rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes fade-in-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }
  75% {
    -webkit-transform: translateX(1.6rem);
            transform: translateX(1.6rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@-webkit-keyframes fade-in-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  75% {
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes fade-in-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  75% {
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@-webkit-keyframes fade-in-bottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(6rem);
            transform: translateY(6rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes fade-in-bottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(6rem);
            transform: translateY(6rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

body {
  font-family: Lato, sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  margin-bottom: 6rem;
}

.heading-primary--main, .heading-primary--sub {
  display: block;
  letter-spacing: 1.1rem;
}

.heading-primary--main {
  font-size: 6rem;
  font-weight: 400;
  -webkit-animation: fade-in-left 1s ease-out;
          animation: fade-in-left 1s ease-out;
}

.heading-primary--sub {
  font-size: 2.1rem;
  font-weight: 700;
  -webkit-animation: fade-in-right 1s ease-out;
          animation: fade-in-right 1s ease-out;
}

.heading-secondary {
  display: inline-block;
  margin: 0 auto;
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: -webkit-gradient(linear, left top, right top, from(#55c57a), to(#28b485));
  background-image: linear-gradient(to right, #55c57a, #28b485);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  -webkit-transition: text-shadow 200ms ease-in, -webkit-transform 200ms ease-in;
  transition: text-shadow 200ms ease-in, -webkit-transform 200ms ease-in;
  transition: transform 200ms ease-in, text-shadow 200ms ease-in;
  transition: transform 200ms ease-in, text-shadow 200ms ease-in, -webkit-transform 200ms ease-in;
}

.heading-secondary:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  text-shadow: 0.5rem 0.75rem 2rem rgba(0, 0, 0, 0.2);
}

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: 1.6rem;
}

.paragraph:not(:last-child) {
  margin-bottom: 3rem;
}

.u-center-text {
  text-align: center;
}

.u-mb-small {
  margin-bottom: 1.5rem;
}

.u-mb-med {
  margin-bottom: 4rem;
}

.u-mb-big {
  margin-bottom: 8rem;
}

.header {
  height: 95vh;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(85, 197, 122, 0.8)), to(rgba(126, 213, 111, 0.8))), url(/assets/img/hero.jpg);
  background-image: linear-gradient(to right bottom, rgba(85, 197, 122, 0.8), rgba(126, 213, 111, 0.8)), url(/assets/img/hero.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
}

.header__logo-box {
  padding: 3.2rem;
}

.header__logo {
  height: 3.2rem;
}

.header__text-box {
  position: absolute;
  left: 50%;
  top: 45%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.container {
  max-width: 114rem;
  margin: 0 auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5rem;
}

.row:not(:last-child) {
  margin-bottom: 8rem;
}

.row .col-1 {
  width: 100%;
}

.row .col-2 {
  width: 50%;
}

.row .col-3 {
  width: 33.33%;
}

.row .col-4 {
  width: 25%;
}

.row .col-5 {
  width: 20%;
}

.row .col-6 {
  width: 16.66%;
}

.btn:link, .btn:visited {
  font-size: 1.6rem;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.6rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  -webkit-transition: -webkit-transform 200ms ease-in, -webkit-box-shadow 200ms ease-in;
  transition: -webkit-transform 200ms ease-in, -webkit-box-shadow 200ms ease-in;
  transition: transform 200ms ease-in, box-shadow 200ms ease-in;
  transition: transform 200ms ease-in, box-shadow 200ms ease-in, -webkit-transform 200ms ease-in, -webkit-box-shadow 200ms ease-in;
}

.btn:hover {
  -webkit-transform: translateY(-0.4rem);
          transform: translateY(-0.4rem);
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn:active {
  -webkit-transform: translateY(-0.24rem);
          transform: translateY(-0.24rem);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn--animated {
  -webkit-animation: fade-in-bottom 1s ease-out 0.75s backwards;
          animation: fade-in-bottom 1s ease-out 0.75s backwards;
}

.btn--white {
  background-color: #fff;
  color: #777;
}

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #55c57a;
  display: inline-block;
  text-decoration: none;
  padding: 0.3rem 0.75rem;
  border-bottom: 1px solid #55c57a;
  -webkit-transition: background-color 200ms ease-in, color 200ms ease-in, -webkit-transform 200ms ease-in, -webkit-box-shadow 200ms ease-in;
  transition: background-color 200ms ease-in, color 200ms ease-in, -webkit-transform 200ms ease-in, -webkit-box-shadow 200ms ease-in;
  transition: transform 200ms ease-in, background-color 200ms ease-in, color 200ms ease-in, box-shadow 200ms ease-in;
  transition: transform 200ms ease-in, background-color 200ms ease-in, color 200ms ease-in, box-shadow 200ms ease-in, -webkit-transform 200ms ease-in, -webkit-box-shadow 200ms ease-in;
}

.btn-text:hover {
  background-color: #55c57a;
  color: #fff;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.btn-text:active {
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.composition {
  position: relative;
}

.composition:hover .composition__img:not(:hover) {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.composition__img {
  width: 55%;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  position: absolute;
  z-index: 1;
  -webkit-transition: -webkit-transform 200ms;
  transition: -webkit-transform 200ms;
  transition: transform 200ms;
  transition: transform 200ms, -webkit-transform 200ms;
}

.composition__img--p1 {
  left: 0;
  top: -2px;
}

.composition__img--p2 {
  right: 0;
  top: 20px;
}

.composition__img--p3 {
  left: 20%;
  top: 10rem;
}

.composition__img:hover {
  -webkit-transform: scale(1.05) translateY(-5px);
          transform: scale(1.05) translateY(-5px);
  -webkit-box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.section-about {
  background-color: #f7f7f7;
  padding: calc(20rem + 20vh) 0 20rem 0;
  margin-top: -20vh;
}
/*# sourceMappingURL=main.css.map */