$clr-primary: #55c57a;
$clr-primary-light: #7ed56f;
$clr-primary-dark: #28b485;

$clr-secondary-light: #ffb900;
$clr-secondary-dark: #ff7730;

$clr-tertiary-light: #2998ff;
$clr-tertiary-dark: #5643fa;

$clr-grey-light-1: #f7f7f7;
$clr-grey-dark: #777;
$clr-white: #fff;
$clr-black: #000;

$font-size-regular: 1.6rem;

$container-width: 114rem;

$row-gap: 6rem;
$row-gutter-vertical: 8rem;
