.row {
  display: flex;
  gap: $row-gap;

  @include respond(md) {
    flex-wrap: wrap;
  }

  [class^="col-"] {
    @include respond(md) {
      width: 100% !important;
    }
  }

  .col-1 {
    width: 100%;
  }

  .col-2 {
    width: 50%;
  }

  .col-3 {
    width: 33.33%;
  }

  .col-4 {
    width: 25%;
  }

  .col-5 {
    width: 20%;
  }

  .col-6 {
    width: 16.66%;
  }
}
