.header {
  height: 95vh;
  background-image: linear-gradient(
      to right bottom,
      rgba($clr-primary, 0.8),
      rgba($clr-primary-light, 0.8)
    ),
    url(/assets/img/hero.jpg);
  background-size: cover;
  background-position: top;

  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);

  @media (min-resolution: 192dpi) and (min-width: 37.5em), (min-width: 125em) {
    background-image: linear-gradient(
        to right bottom,
        rgba($clr-primary, 0.8),
        rgba($clr-primary-light, 0.8)
      ),
      url(/assets/img/hero-small.jpg);
  }

  &__logo-box {
    padding: 3.2rem;
  }

  &__logo {
    height: 3.2rem;
  }

  &__text-box {
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}
