.card {
  perspective: 150rem;
  position: relative;

  &:hover &__side {
    &--front {
      transform: rotateY(-180deg);
    }

    &--back {
      transform: rotateY(0deg);
    }
  }

  &__side {
    height: 52rem;
    transition: transform 800ms ease;
    backface-visibility: hidden;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba($clr-black, 0.15);

    &--front {
      background-color: #fff;
    }

    &--back {
      position: absolute;
      inset: 0;
      transform: rotateY(180deg);

      &-primary {
        background-image: linear-gradient(to right bottom, $clr-primary-light, $clr-primary-dark);
      }

      &-secondary {
        background-image: linear-gradient(
          to right bottom,
          $clr-secondary-light,
          $clr-secondary-dark
        );
      }

      &-tertiary {
        background-image: linear-gradient(to right bottom, $clr-tertiary-light, $clr-tertiary-dark);
      }
    }
  }

  &__img {
    height: 23rem;
    background-size: cover;
    background-blend-mode: screen;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);

    &--1 {
      background-image: linear-gradient(to right bottom, $clr-secondary-light, $clr-secondary-dark),
        url(/assets/img/nat-5.jpg);
    }

    &--2 {
      background-image: url(/assets/img/nat-5.jpg);
    }

    &--3 {
      background-image: url(/assets/img/nat-5.jpg);
    }
  }

  &__heading {
    position: absolute;
    top: 12rem;
    right: 2rem;
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    color: $clr-white;
    text-align: right;
    width: 50%;
  }

  &__heading-span {
    padding: 1rem 1.5rem;
    box-decoration-break: clone;
    &--1 {
      background-image: linear-gradient(
        to right bottom,
        rgba($clr-secondary-light, 0.85),
        rgba($clr-secondary-dark, 0.85)
      );
    }
  }

  &__list {
    list-style: none;
    width: 80%;
    margin: auto;

    &-item {
      text-align: center;
      font-size: 1.5rem;
      padding: 1rem;

      &:not(:last-child) {
        border-bottom: 1px solid $clr-grey-light-2;
      }
    }
  }
}
