.section-about {
  background-color: $clr-grey-light-1;
  padding: calc(20rem + 20vh) 0 20rem 0;
  margin-top: -20vh;
}

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(
      to right bottom,
      rgba($clr-primary, 0.8),
      rgba($clr-primary-light, 0.8)
    ),
    url(/assets/img/nat-4.jpg);
  background-size: cover;
  margin-top: -10rem;
  transform: skewY(-7deg);

  & > * {
    transform: skewY(7deg);
  }
}

.section-tours {
  background-color: $clr-grey-light-1;
  padding: 20vh 0 15rem 0;
  margin-top: -10rem;
}

.section-stories {
  position: relative;
  padding: 15rem 0;
}

.section-book {
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom, $clr-primary-light, $clr-primary-dark);
}

.book {
  background-image: linear-gradient(
      105deg,
      rgba($clr-white, 0.9) 0%,
      rgba($clr-white, 0.9) 50%,
      transparent 50%
    ),
    url(/assets/img/nat-10.jpg);
  background-size: 100%;
  border-radius: 4px;
  box-shadow: 0 1.5rem 4rem rgba($clr-black, 0.2);

  height: 50rem;

  &__form {
    width: 50%;
    padding: 6rem;
  }
}
